@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #0a192f;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #0a192f;
}
